body {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

video {
  border: 2px solid #333;
  width: 320px;
  height: 240px;
  margin-bottom: 10px;
}

input {
  padding: 5px;
  margin: 5px;
}

button {
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

#absensiLog {
  list-style: none;
  padding: 0;
}
